@import 'colors';
@import 'inputs';

$layoutbreakpoint: 1400px;

#content{
    margin: 1rem;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $layoutbreakpoint) {
        
        margin: 3rem;
        display: grid;
        grid-template-rows: auto 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "heading form"
            "message form";

    }

    #heading-div{

        width: 100%;
        display: flex;

        @media screen and (min-width: $layoutbreakpoint) {
            grid-area: heading;
        }
        
        
        
        #logo{
            margin-right: auto;
            display: flex;
            flex-direction: column;
            align-items: center;

            img{
                max-width: 5rem;
            }

            h1{
                font-size: 0.8rem;
                font-weight: bold;
                margin-top: 1rem;
            }

        }

        
    }


    #formdiv{

        margin-top: 2rem;
        @media screen and (min-width: $layoutbreakpoint) {
            grid-area: form;
            margin-top: 0;
        }

        h2{
            font-weight: 600;
            font-size: 0.8rem;
            font-weight: 800;
            font-size: 1.1rem;
            width: 50%;
            @media screen and (min-width: $layoutbreakpoint) {
                margin-top: 0;
            }
        }

        #theform{

            display: flex;
            flex-direction: column;
            font-weight: 800;
            font-size: 1.1rem;
            margin-top: 4rem;

            @media screen and (min-width: $layoutbreakpoint) {
                margin-top: 8rem;
            }

            $placeholdercolor: rgba(255, 255, 255, 0.24);
            $placeholderweight: 800;
            $placeholdersize: 1.1rem;

            .switchdiv{
                display: flex;
                align-items: center;
                margin-top: 2rem;
                

                input{
                    // display: inline-block;
                    margin-right: 1rem;
                }

            }

            .form-text-input{

                background: transparent;
                border: 4px solid rgb(230, 230, 230);
                color: white;
                padding: 0.5rem;
                margin-top: 8px;

                font-weight: $placeholderweight;
                font-size: $placeholdersize;

            }


            button{
                width: 100%;
                color: black;
                background: snow;
                font-weight: 800;
                font-size: 1.1rem;
                border: none;
                margin-top: 2rem;
                padding: 1rem;
                align-self: flex-end;

                @media screen and (min-width: $layoutbreakpoint) {
                    width: 50% !important;
                }
                
            }

            ::placeholder{
                color: $placeholdercolor;
                font-weight: $placeholderweight;
                font-size: $placeholdersize;
            }

            ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: $placeholdercolor;
                font-weight: $placeholderweight;
                font-size: $placeholdersize;
            }
            
            ::-moz-placeholder { /* Firefox 19+ */
                color: $placeholdercolor;
                font-weight: $placeholderweight;
                font-size: $placeholdersize;
            }

            :-ms-input-placeholder { /* IE 10+ */
                color: $placeholdercolor;
                font-weight: $placeholderweight;
                font-size: $placeholdersize;
            }

            :-moz-placeholder { /* Firefox 18- */
                color: $placeholdercolor;
                font-weight: $placeholderweight;
                font-size: $placeholdersize;
            }

            /* Chrome, Safari, Edge, Opera */
            input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            /* Firefox */
            input[type=number] {
                -moz-appearance: textfield;
            }

        }

    }


    #messagesdiv{

        @media screen and (min-width: $layoutbreakpoint) {
            grid-area: message;
            place-self: center start;
        }

        p{
            font-size: 2rem;
            font-weight: 800;
        }
    }
    
}


