#content {
  margin: 1rem;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1400px) {
  #content {
    margin: 3rem;
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "heading form" "message form";
  }
}
#content #heading-div {
  width: 100%;
  display: flex;
}
@media screen and (min-width: 1400px) {
  #content #heading-div {
    grid-area: heading;
  }
}
#content #heading-div #logo {
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#content #heading-div #logo img {
  max-width: 5rem;
}
#content #heading-div #logo h1 {
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 1rem;
}
#content #formdiv {
  margin-top: 2rem;
}
@media screen and (min-width: 1400px) {
  #content #formdiv {
    grid-area: form;
    margin-top: 0;
  }
}
#content #formdiv h2 {
  font-weight: 600;
  font-size: 0.8rem;
  font-weight: 800;
  font-size: 1.1rem;
  width: 50%;
}
@media screen and (min-width: 1400px) {
  #content #formdiv h2 {
    margin-top: 0;
  }
}
#content #formdiv #theform {
  display: flex;
  flex-direction: column;
  font-weight: 800;
  font-size: 1.1rem;
  margin-top: 4rem;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
@media screen and (min-width: 1400px) {
  #content #formdiv #theform {
    margin-top: 8rem;
  }
}
#content #formdiv #theform .switchdiv {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
#content #formdiv #theform .switchdiv input {
  margin-right: 1rem;
}
#content #formdiv #theform .form-text-input {
  background: transparent;
  border: 4px solid #e6e6e6;
  color: white;
  padding: 0.5rem;
  margin-top: 8px;
  font-weight: 800;
  font-size: 1.1rem;
}
#content #formdiv #theform button {
  width: 100%;
  color: black;
  background: #f1f1f1;
  font-weight: 800;
  font-size: 1.1rem;
  border: none;
  margin-top: 2rem;
  padding: 1rem;
  align-self: flex-end;
}
@media screen and (min-width: 1400px) {
  #content #formdiv #theform button {
    width: 50% !important;
  }
}
#content #formdiv #theform button:hover {
  background: white;
  cursor: pointer;
}
#content #formdiv #theform ::placeholder {
  color: rgba(255, 255, 255, 0.24);
  font-weight: 800;
  font-size: 1.1rem;
}
#content #formdiv #theform ::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: rgba(255, 255, 255, 0.24);
  font-weight: 800;
  font-size: 1.1rem;
}
#content #formdiv #theform ::-moz-placeholder {
  /* Firefox 19+ */
  color: rgba(255, 255, 255, 0.24);
  font-weight: 800;
  font-size: 1.1rem;
}
#content #formdiv #theform :-ms-input-placeholder {
  /* IE 10+ */
  color: rgba(255, 255, 255, 0.24);
  font-weight: 800;
  font-size: 1.1rem;
}
#content #formdiv #theform :-moz-placeholder {
  /* Firefox 18- */
  color: rgba(255, 255, 255, 0.24);
  font-weight: 800;
  font-size: 1.1rem;
}
#content #formdiv #theform input::-webkit-outer-spin-button,
#content #formdiv #theform input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
#content #formdiv #theform input[type=number] {
  -moz-appearance: textfield;
}
@media screen and (min-width: 1400px) {
  #content #messagesdiv {
    grid-area: message;
    place-self: center start;
    margin-right: 2rem;
  }
}
#content #messagesdiv p {
  font-size: 2rem;
  font-weight: 800;
}
#content #messagesdiv p small {
  font-size: 1rem;
  font-weight: normal;
}
#content #messagesdiv p a {
  color: #ece1e1;
}
#content #messagesdiv p a:visited {
  color: #ece1e1;
}

/*# sourceMappingURL=index.css.map */
