{% extends 'skeleton.html' %} {% load static %} 
{% block title %}NOFILTR - Instagram Comment Picker{%endblock %} 

{% block head %}
<link rel="stylesheet" href="{% static 'css/index.css' %}" />

<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script>



    // THE FUNCTION THAT GETS A WINNER
    function pick_winner() {
        console.log("Clicked");
        var jqxhr = $.post("http://localhost:8000/pickwinner", $( "#theform" ).serialize(), function (d) {
            console.log(d["test"]);

            // let the_string = "CPU: " + d['cpu_temp'] + "° C";
            // $("#cpu-temp-section").text(the_string);
        }).fail(function (jqXHR, textStatus, errorThrown) {
            console.log(errorThrown);
        });
    }






    // TOGGLE FILTER
    function toggle_filter(){

        if($('#fliter_checkbox').prop('checked') == true){
            $('#filter_section').show();
        }else{
            $('#filter_section').hide();
        }
        
    }



    // TOGGLE MENTIONS
    function toggle_mentions(){

        if($('#mentions_checkbox').prop('checked') == true){
            $('#mentions_section').show();
        }else{
            $('#mentions_section').hide();
        }

    }


    // TOGGLE LOGIN
    function toggle_login(){

        if($('#login_checkbox').prop('checked') == true){
            $('.login_field').show();
        }else{
            $('.login_field').hide();
        }

    }




    // INITIALISE ALL
    $(document).ready(function(){
        toggle_filter();
        toggle_mentions();
        toggle_login();
    })

    



</script>

{% endblock %} 
{% block body %}
<div id="content">

    <div id="heading-div">
        <div id="logo">
            <img src="{% static 'img/nofiltrlogo.png' %}" />
            <h1>NOFILTR</h1>
        </div>        
    </div>

    
    <div id="formdiv">

        <h2>PICK A RANDOM WINNER FROM INSTAGRAM COMMENTS</h2>
        
        <form id="theform">
            {% csrf_token %} 
            
            <!-- post -->
            <span class="form-label">LINK TO THE POST</span>
            <input class="form-text-input" type="text" placeholder="url" name="postlink" />
            

            <!-- filter -->
            <div class="switchdiv">
                <input class="switch" type="checkbox" id="fliter_checkbox" onclick="toggle_filter()"/>
                <label class="form-label" for="fliter_checkbox">COMMENT MUST CONTAIN SPECIFIC WORDS OR HASHTAGS (COMMA SEPERATED)</label>
            </div>
            <input class="form-text-input" type="text" placeholder="product, amazing, #noﬁltr, #awesome" name="filter" />
            

            
            <!-- mentions -->
            <div class="switchdiv">
                <input type="checkbox" id="mentions_checkbox" onclick="toggle_mentions()"/>
                <label class="form-label" for="mentions_checkbox">THESE MANY PEOPLE NEED TO BE TAGGED</label>
            </div>
            <input class="form-text-input" type="number" placeholder="0" name="mentions" />
            


            <!-- login -->
            <div class="switchdiv">
                <input type="checkbox" id="login_checkbox" onclick="toggle_login()" />
                <label class="form-label" for="login_checkbox">MY ACCOUNT IS PRIVATE</label>
            </div>
            <input class="form-text-input" type="text" placeholder="instagram username" name="username" />
            <input class="form-text-input" type="password" placeholder="instagram password" name="password"/>
        


            <!-- SUBMIT -->
            <button type="button" style="width: 100%" onclick="pick_winner()">PICK A WINNER</button>
            
        </form>
    </div>
    
    <div id="messagesdiv">
        <p id="messagespara">
            picking a random winner....
        </p>
    </div>
    
</div>
{% endblock %}
